$primary                                    : #118179;
$secondary                                  : #161819;
$white                                      : #fff;
$success                                    : #1eca1a;
$danger                                     : #e43536;
$warning                                    : #ffc400;
$info                                       : #8d63d3;

// border 
$bordor-color                               : #e7e7e7;

// content 
$content-bg                                 : #f1f1f1;

// nav 
$nav-link-color                             : #646b73;
$nav-link-hover-color                       : $primary;

// priorty 
$priority-digit-color                       : #797f86;
$priority-digit-bg                          : #e6e6e6;