// Global styles goes here
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html,body{
    height: 100%;
    overflow: hidden;
}

// .nav-link{
//     background-color: #e2eeed;
// }

.cursor-pointer{
    cursor: pointer;
}