// All the SCSS Variables goes here

// sidebar 
$sidebar-width                              : 280px;

// font 
$font-family                                : 'Josefin Sans', sans-serif;

// nav 
$nav-link-padding-x                         : 10px;

// table 
$table-th-font-weight                       : 500;
// $table-cell-padding-y                       : .8rem;