// All the SCSS Variables goes here

// sidebar 
$sidebar-width                              : 280px;

// font 
$font-family                                : 'Josefin Sans', sans-serif;

// nav 
$nav-link-padding-x                         : 10px;

// table 
$table-th-font-weight                       : 500;

// form 
$input-btn-focus-box-shadow                 : 0 0 1px;

// progress 
$progress-height                            : 10px;

// card 
$card-border-width                          : 0px;
$card-spacer-y                              : 20px;