<!-- Start: Task Section  -->
<div class="p-4 h-100">
    
    <!-- Heading  -->
    <h3 class="text-primary"> Tasks </h3>

    <!-- BUtton Functionality  -->
    <div class="d-flex align-items-center justify-content-between py-3">
        <button type="button" class="btn btn-primary"> Filter </button>
        <button type="button" class="btn btn-primary" (click)="onCreate()"> + Create Task </button>
    </div>

    <!-- Start: Task Cards Section  -->
    <div class="row py-3">
        <div class="col-4">
            <span class="text-muted"> TODO (5) </span>
        </div>
    </div>
    <!-- End: Task Cards Section  -->
</div>
<!-- End: Task Section  -->