#sidebar{
    flex: 0 0 $sidebar-width;
    background-color: $white;

    .profile-img{
        height: 100px;
    }
}

.priority-digit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 25px;
    background-color: $priority-digit-bg;
    color: $priority-digit-color;
}

.list-text{
    color: $priority-digit-color;
}

.log-out{
    color: $priority-digit-color;

    &:hover{
        color: $primary;
    }
}

.hamburger{
    top: 15px;
    left: 15px;
    z-index: 99;
    display: none;
}

#toggle:checked ~ #sidebar{
    transform: translateX(0px);
}

@media (max-width: 768px){
    #sidebar{
        position: absolute;
        width: $sidebar-width;
        transform: translateX(-100%);
        height: 100%;
        transition: 0.6s all;
    }

    .hamburger{
        display: block;
    }
}

@media (max-width: 567px){
    #sidebar{
        width: 100%;
    }
}
